<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">


<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



<!-- CSS
================================================== -->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
	body{
		visibility: hidden;
	}
</style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header
================================================== -->


<!-- Navigation
================================================== -->
		<header class="sticky-top bg-light">
			<div class="d-none d-lg-block">
				
			<div class="container">
				<div class="row w-100">
				

					<div class="col-md-3 col-sm-12">
						<div id="logo">
							<a href="/"><img src="/images/logo.png?v=1" alt=""></a>
						</div>
					</div>

					<div class="col-md-9 col-sm-12">
						<ul class="header-widget">
                            <li>
                                <i class="far fa-clock"></i>
                                <div class="widget-content">
                                    <span class="title">Работаем</span>
                                    <span>24/7</span>
                                </div>
                            </li>
							<li>
                                 <i class="fas fa-2x fa-phone"></i>
								<div class="widget-content">
									<span class="title">Телефон</span>
									<a class="data" href="tel:+79859507068">+7(985)950-70-68</a>
								</div>
							</li>

							<li>
								<i class="far fa-2x fa-envelope"></i>
								<div class="widget-content">
									<span class="title">Email</span>
									<span class="data">info@excentpol.ru</span>
								</div>
							</li>

							<li class="with-btn">
								<!-- Button trigger modal -->
								<a class="button border medium" data-toggle="modal" data-target="#callback">
									Звонок
								</a>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
			</div>

		<nav class="navbar menu navbar-expand-lg py-0" >
			<div class="container">
				<div class="d-lg-none py-2 w-100">
					<a class="navbar-brand" href="/">
				    <img src="/images/logo.png" alt=""  height="30">
				  </a>
			<button class="navbar-toggler text-dark float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <i class="fas fa-bars"></i>			  </button>
				</div>
				
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">


			
			<ul class="menu navbar-nav border-0">
				<li class="dropdown" >
					<a href="/about" class="dropdown-toggle" data-toggle="dropdown">О нас</a>
					<ul class="dropdown-menu">
						<li><a href="/about">О компании</a></li>
						<li><a href="/contacts">Контакты</a></li>

					</ul>
				</li>

				<li class="dropdown" >
					<a href="/services" class="dropdown-toggle" data-toggle="dropdown">Услуги</a>
					<ul class="dropdown-menu">
						<li><a href="/services/polusuhaya-styazhka">Полусухая стяжка пола</a></li>
						<li><a href="/services/mekhanizirovannaya-shtukaturka">Механизированная штукатурка</a></li>
					</ul>
				</li>

				<li class="dropdown" >
					<a href="/price" class="dropdown-toggle" data-toggle="dropdown">Цены</a>
					<ul class="dropdown-menu">
						<li><a href="/price/polusuhaya-styazhka">Полусухая стяжка пола</a></li>
						<li><a href="/price/mekhanizirovannaya-shtukaturka">Механизированная штукатурка</a></li>
					</ul>
				</li>

				<li><a href="/posts">Блог</a></li>


			</ul>
			</div>
			</div>
		</nav>
		<div class="clearfix"></div>
	</header>

		
		
		

		




<%- body %>

<!-- Footer
================================================== -->
<div class="margin-top-35"></div>

<div id="footer">
<!-- Main -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h4>о нас</h4>
			<p>Компания «ExcentPol» рада приветствовать вас!

Мы занимаемся механизированной штукатуркой стен, потолков и полусухой стяжкой полов с 2012 года. Наши квалифицированные специалисты со стажем от 3 лет готовы выполнить заказы любых объемов по Москве и Московской области.</p>

		</div>

		<div class="col-md-5  col-sm-6">
			<h4>Меню</h4>
			<ul class="footer-links">
				<li><a href="/about">О компании</a></li>
				<li><a href="/services/polusuhaya-styazhka">Полусухая стяжка</a></li>
				<li><a href="/services/mekhanizirovannaya-shtukaturka">Механизированная штукатурка</a></li>
			</ul>
			<ul class="footer-links">
				
				<li><a href="/price/mekhanizirovannaya-shtukaturka">Цены</a></li>
				<!--<li><a href="/projects">Проекты</a></li>-->
				<li><a href="/posts">Блог</a></li>
			</ul>
		</div>
		<div class="col-md-3  col-sm-12">
			<h4>Наши контакты</h4>
			<div class="text-widget">
				<span>БЦ Золотое Кольцо, ул. Южнопортовая, д. 5, стр. 7. Москва, Россия</span> <br>
				Phone: <span>+7(985)950-70-68</span><br>
					E-Mail: <span>info@excentpol.ru</span><br>
				</div>
				<a class="button border medium" data-toggle="modal" data-target="#callback">
									Заказать звонок
								</a>
			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">©  Copyright 2019 by <a href="/">ExcentPol.ru</a>. All Rights Reserved.</div>
			</div>
		</div>

	</div>
<!-- Modal -->
<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="callbackLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callbackLabel">Заказать звонок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/callback" method="post" id="callback_form">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputPassword4">Телефон</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Телефон" name="callEmail">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputZip">Комментарий</label>
      <input type="text" placeholder="Когда вам удобно говорить / цель звонка и т. п." class="form-control" name="callComment" id="inputZip">
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <input type="submit" form="callback_form" class="btn btn-primary" value="Заказать">
      </div>
    </div>
  </div>
</div>
</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<link rel="stylesheet" href="/styles/style.css?v=2">
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/colors/yellow.css" id="colors">

	<style>
		body{
			visibility: visible;
		}
	</style>

	<link rel="stylesheet" href="/styles/all.min.css" >
	<link rel="stylesheet" href="/styles/animate.min.css" >
	
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/wow.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>

	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
       $('.counterUp').counterUp({
            delay:100,
            duration:3000
       });
		$.fn.serializeObject = function()
		{
		   var o = {};
		   var a = this.serializeArray();
		   $.each(a, function() {
		       if (o[this.name]) {
		           if (!o[this.name].push) {
		               o[this.name] = [o[this.name]];
		           }
		           o[this.name].push(this.value || '');
		       } else {
		           o[this.name] = this.value || '';
		       }
		   });
		   return o;
		};
		function priceFormatted(element) {
            element = String(priceToFloat(element).toFixed(2));
            return (String(element)).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
        }
        function priceToFloat(element) {
            return parseFloat(String(element ? element : 0).replace(/[^\d\.]/g, ''));
        }
		$.fn.getCursorPosition = function () {
                var input = this.get(0);
                if (!input) return;
                if ('selectionStart' in input) {
                    return input.selectionStart;
                } else if (document.selection) {
                    input.focus();
                    var sel = document.selection.createRange();
                    var selLen = document.selection.createRange().text.length;
                    sel.moveStart('character', -input.value.length);
                    return sel.text.length - selLen;
                }
            }

            $.fn.setCursorPosition = function (pos) {
                $(this).prop('selectionStart', pos);
                $(this).prop('selectionEnd', pos);
                /*if ($(this).get(0).setSelectionRange) {

                    $(this).get(0).setSelectionRange(pos, pos);
                } else if ($(this).get(0).createTextRange) {
                    var range = $(this).get(0).createTextRange();
                    range.collapse(true);
                    range.moveEnd('character', pos);
                    range.moveStart('character', pos);
                    range.select();
                }
                */
            }

            $.fn.delSelected = function () {
                var input = $(this);
                var value = input.val();
                var start = input[0].selectionStart;
                var end = input[0].selectionEnd;
                input.val(
                    value.substr(0, start) + value.substring(end, value.length)
                );
                return end - start;
            };

            $.fn.priceFormat = function () {

                var clearIfNull = function (t) {
                    if (priceFormatted(0) === $(t).val()) {
                        $(t).val('');
                        return false;
                    }
                }
                $(this)

                    .bind('contextmenu', function (event) {
                        event.preventDefault();
                    })
                    .bind('drop', function (event) {
                        var value = $(this).val();
                        $(this).val('');
                        $(this).val(value);
                        event.preventDefault();

                    })
                    .focus(function () {
                        if (priceToFloat($(this).val()) == 0)
                            $(this).val('');

                        return false;
                    })
                    .keydown(function (event) {
                        var cursor = $(this).getCursorPosition();
                        var code = event.keyCode;
                        var startValue = $(this).val();

                        if ((event.ctrlKey === true && code == 86) || // Ctrl+V | Shift+insert
                            (event.metaKey === true && code == 86) ||
                            (event.shiftKey === true && code == 45)) {
                            return false;
                        } else if (
                            code == 9 || // tab
                            code == 27 || // ecs
                            event.ctrlKey === true || // все что вместе с ctrl
                            event.metaKey === true ||
                            event.altKey === true || // все что вместе с alt
                            event.shiftKey === true || // все что вместе с shift
                            (code >= 112 && code <= 123) || // F1 - F12
                            (code >= 35 && code <= 39)) // end, home, стрелки
                        {


                        } else if (code == 8) {// backspace

                            var delCount = $(this).delSelected();
                            if (!delCount) {
                                if (startValue[cursor - 1] === ' ' || startValue[cursor - 1] == '.') {
                                    cursor--;
                                }
                                $(this).val(startValue.substr(0, cursor - 1) + startValue.substring(cursor, startValue.length));
                            }
                            $(this).val(priceFormatted($(this).val()));
                            if ($(this).val().indexOf('.') < cursor)
                                $(this).setCursorPosition(cursor - 1);
                            else
                                $(this).setCursorPosition(cursor - (startValue.length - $(this).val().length - delCount));

                        } else if (code == 46) { // delete

                            var delCount = $(this).delSelected();
                            if (!delCount) {
                                if (startValue[cursor] === ' ' || startValue[cursor] == '.') {
                                    cursor++;
                                }
                                $(this).val(startValue.substr(0, cursor) + startValue.substring(cursor + 1, startValue.length));
                                delCount = 1;
                            }
                            if (!delCount)
                                delCount = 1;
                            $(this).val(priceFormatted($(this).val()));
                            if ($(this).val().indexOf('.') < cursor)
                                $(this).setCursorPosition(cursor);
                            else
                                $(this).setCursorPosition(cursor - (startValue.length - $(this).val().length - delCount));

                        } else {
                            $(this).delSelected();
                            startValue = $(this).val();
                            var key = false;
                            // цифровые клавиши
                            if ((code >= 48 && code <= 57)) {
                                key = (code - 48);
                            }
                            // numpad
                            else if ((code >= 96 && code <= 105)) {
                                key = (code - 96);
                            } else if (code == 190 || code == 191 || code == 110) {//точка
                                $(this).val(priceFormatted($(this).val().substr(0, cursor)));
                                $(this).setCursorPosition($(this).val().length - 2);
                                return false;
                            } else {
                                $(this).val(priceFormatted($(this).val()));
                                $(this).setCursorPosition(cursor);
                                return false;
                            }
                            if (startValue != '') {
                                if (startValue.substr(0, 1) == 0 && startValue.indexOf('.') > cursor) {
                                    startValue = startValue.substr(1);
                                    if (cursor > 0)
                                        cursor--;
                                }

                                var length = startValue.length;
                                if (cursor == length)
                                    return false;
                            }
                            var value = startValue.substr(0, cursor) + key + startValue.substring(cursor, startValue.length);
                            $(this).val(priceFormatted(value));
                            if (value.indexOf('.') < cursor)
                                $(this).setCursorPosition(cursor + 1);
                            else
                                $(this).setCursorPosition(cursor + $(this).val().length - startValue.length);
                        }
                        event.preventDefault();
                    })
                    .keyup(function () {
                        clearIfNull(this);
                    });

                //$(this).val(priceFormatted(0));
            };

		let calcSum = (square,prices,ranges,thickness)=>{
			let range = (square,ranges)=>{
				for(let i = ranges.length-1; i >= 0; i--){
					if(ranges[i] <= square)
						return i;
				}
			}
			let coef = (i,prices,ranges)=>{
				return (prices[0][i] - (prices[0][i+1]||prices[0][i]))/((-(ranges[i]) + ranges[i+1]||ranges[i])||1);
			}
			//console.log(range(square,ranges));
			console.log(prices[0][range(square,ranges)]);
			console.log(square - ranges[range(square,ranges)]);
			console.log(coef(range(square,ranges),prices,ranges));
			if(range(square,ranges) < prices[0].length-1)
				return Math.max(
					((prices[0][range(square,ranges)]-(square - ranges[range(square,ranges)])*coef(range(square,ranges),prices,ranges) + (thickness)*prices[1][range(square,ranges)+1])*square),
					0
				);
			else
				return 0;
			
		}
		$('input[name="calc[square]"]').priceFormat();
		$('input[name="calc[thickness]"]').on('change',(e)=>{
			$('.thicknessVal').text($(e.target).val());
		}).trigger('change');
		$('#shtukaturka-calc').on('change keydown keyup','input',(e)=>{
			let form = $(e.target).parents('form');
			let data = form.serializeObject();
			data['calc[square]'] = priceToFloat(data['calc[square]']);
			let sum = calcSum(data['calc[square]'],
				[[600,600,580,560,540,515],[55,55,55,55,55,55]],
				[1,101,251,451,801,3001],
				(data['calc[thickness]']-20)/5);
			if(sum){
				if(data['calc[type]'] === '1')
					sum *= 1.25;
				form.find('input[name="calc[sum]"]').val(priceFormatted(Math.max(sum,60000)));
			}
			else
				form.find('input[name="calc[sum]"]').val('Под ваши параметры компания делает индивидуальный рассчет. Свяжитесь с менеджером.');
			
		})
		$('#styazhka-calc').on('change keydown keyup','input',(e)=>{
			let form = $(e.target).parents('form');
			let data = form.serializeObject();
			data['calc[square]'] = priceToFloat(data['calc[square]']);
			let sum = calcSum(data['calc[square]'],
				[[950,950,650,550,510,490],[50,50,50,50,40,35]],
				[1,51,151,301,901,3001],
				(data['calc[thickness]']-50)/10);
			if(sum)
				form.find('input[name="calc[sum]"]').val(priceFormatted(Math.max(sum,47500)));
			else
				form.find('input[name="calc[sum]"]').val('Под ваши параметры компания делает индивидуальный рассчет. Свяжитесь с менеджером.');
		})
	</script>
	 <script>
              new WOW().init();
              </script>
	  

</html>
