<div class="info-banner wow zoomInDown" data-wow-duration=".3s">
				<div class="info-content">
					<h3>Остались вопросы?</h3>
					<p>Нажмите на кнопку связи и наш менеджер свяжется с вами.</p>
				</div>
				<a href="#" class="button medium" data-toggle="modal" data-target="#callback">Обратный звонок</a>
				<div class="clearfix"></div>
			</div>